env/
.DS_Store
.idea/
temp/
*.egg-info/
.vscode/

config.yaml
config.personal.yaml

*.pyc
.rtool/plugin/standalone/CocosStudioExporter/cocos.cpp
.rtool/plugin/standalone/CocosStudioExporter/cocos.h
.rtool/plugin/standalone/CocosStudioExporter/FlatBuffersSerializer.cpp
.rtool/plugin/standalone/CocosStudioExporter/FlatBuffersSerializer.h
.rtool/plugin/standalone/CocosStudioExporter/main.cpp
.rtool/plugin/standalone/CocosStudioExporter/Makefile
.rtool/plugin/standalone/CocosStudioExporter/OptionsGenerator.cpp
.rtool/plugin/standalone/CocosStudioExporter/OptionsGenerator.h
.rtool/plugin/standalone/CocosStudioExporter/flatbuffer/flatbuffers.h
.rtool/plugin/standalone/CocosStudioExporter/flatbuffer/idl.h
.rtool/plugin/standalone/CocosStudioExporter/flatbuffer/util.h
.rtool/plugin/standalone/CocosStudioExporter/generated/CSArmatureNode_generated.h
.rtool/plugin/standalone/CocosStudioExporter/generated/CSBoneBinary_generated.h
.rtool/plugin/standalone/CocosStudioExporter/generated/CSLanguageDataBinary_generated.h
.rtool/plugin/standalone/CocosStudioExporter/generated/CSParse3DBinary_generated.h
.rtool/plugin/standalone/CocosStudioExporter/generated/CSParseBinary_generated.h
.rtool/plugin/standalone/CocosStudioExporter/generated/CSTabControl_generated.h
.rtool/plugin/standalone/CocosStudioExporter/tinyxml2/tinyxml2.cpp
.rtool/plugin/standalone/CocosStudioExporter/tinyxml2/tinyxml2.h
